{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ bloc.super }}{% endblock title %}

{% block content %}
	<h2 style="text-align: center; color: #207FB9;">Presentation de CasirMessenger</h2><br />
	
	<p style="margin-right: 20px; margin-left: 20px;" class="lead">CasirMessenger est une plateforme d'echange de message open-source.
		<br /><br />Cette dernière est en quelques sorte un mini réseau social permettant de s'envoyer des messages entre amis. 
		<br /><br />Développé avec le framework Django, cela en fait une application web attrayante et simple d'utilisation.
	</p>
{% endblock content %}