{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            <meta name="viewport" content="width=device-width, maximum-scale=1.0">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            
            <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon" />

            <title>{% block title %}{{ site.name }}{% endblock %}</title>
            <meta name="description" content="{% block meta-description %}{% endblock %}" />
            <meta name="keywords" content="{% block meta-keywords %}{% endblock %}"/>
            
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		    <!--[if lt IE 9]>
		      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		    <![endif]-->
        {% endblock head %}
        
        {% block css %}
         <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
         <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">
         <link href="{% static "css/custom.css" %}" rel="stylesheet">
        {% endblock css %}
        
        {% block extra-css %}
        {% endblock extra-css %}
        
    </head>
    <body>
        <div id="wrap">
            {% block header %}
            <nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="/">Casir messenger</a>
			    </div>	
			    
    				
			    {% if user.is_authenticated %}
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    	<ul class="nav navbar-nav navbar-right">
			    		<li class="dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					          		{{ user.username }}<b class="caret"></b></a>
					          <ul class="dropdown-menu">
					            <li><a href="#">Préférences</a></li>
					            <li class="divider"></li>
					            <li><a href="../..">Déconnexion</a></li>
					          </ul>
					          
					    </li>
					    
			    	</ul>
			    </div>
			    {% endif %}
			    
			  </div>
			</nav>
        	{% endblock header %}
        	
        	{% block content %}
        	
        	{% endblock content %}
        </div>
        
        <div id="footer">
            {% block footer %}
            {% endblock footer %}
        </div>
        
        {% block js %}
            <script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
            <script src="{% static "js/bootstrap.min.js" %}"></script>
        {% endblock js %}
        
        {% block extra-js %}
        {% endblock extra-js %}
    </body>
</html>
